*
{
    margin: 0;
    padding: 0;
    
}

html,
body
{
    overflow: hidden;
    
   
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background: linear-gradient(to bottom, #4ebaf4 0%, #95bef8 10%, #45568a 70%); /* Gradient from light blue to dark blue */
    background-size: cover;
    background-repeat: no-repeat;
    
}

#velocity{
    position: fixed;
    top: 150px;
    left: 10px;
    color: white;
}
svg {
    transform-origin: center center;
}

